<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.FunctionDao">

    <select id="listFunction" parameterType="com.alibaba.fastjson.JSONObject" resultType="com.alibaba.fastjson.JSONObject">
        select * from user_permissions
        where  user_permissions.`user` = #{user} ;
    </select>

    <update id="addFunction" parameterType="com.alibaba.fastjson.JSONObject" >
        update user_permissions
        set ${functionName} = 1
        where  user_permissions.`user` = #{user} ;
    </update>

    <update id="delFunction" parameterType="com.alibaba.fastjson.JSONObject">
        update user_permissions
        set ${functionName} = 0
        where  user_permissions.`user` = #{user} ;
    </update>

</mapper>